<?xml version="1.0" encoding="UTF-8"?>
<matches>
<a href="http://www.oddschecker.com/football/english/premier-league/arsenal-v-fulham/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/aston-villa-v-blackburn/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/bolton-v-birmingham/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/burnley-v-tottenham/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/chelsea-v-wigan/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/everton-v-portsmouth/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/hull-v-liverpool/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/manchester-united-v-stoke/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/west-ham-v-manchester-city/win-market"/>
<a href="http://www.oddschecker.com/football/english/premier-league/wolverhampton-v-sunderland/win-market"/>
</matches>