<?xml version="1.0" encoding="UTF-8"?>
<matches>
<a href="http://localhost/liverpool-v-leeds-utd.html"/>
<a href="http://localhost/football/english/premier-league//wigan-v-sunderland"/>
<a href="http://localhost/football/english/premier-league//aston-villa-v-tottenham"/>
<a href="http://localhost/football/english/premier-league//wolverhampton-v-birmingham"/>
<a href="http://localhost/football/english/premier-league//everton-v-liverpool"/>
<a href="http://localhost/football/english/premier-league//arsenal-v-chelsea"/>
</matches>